body{
	font-family: Arial;
	background-color: #f5f5f5;
	padding: 20px;
}
.container{
	width: 400 px;
	margin: 0 autos;
	text-align: center;
	background: white;
	border-radius: 10px;
	padding: 20px;
	border: 2px solid #ddd;
}
.instructions{
	margin-bottom: 20px;
}
button{
	padding: 10px 20px;
	margin:10px;
	font-size: 16px;
	cursor: pointer;
}
.status{
	margin-top: 20px;
	font-size: 18px;
}