*{
	box-sizing:border-box;
	margin:0;
	padding:0;
	font-family:Arial;
}
body{
	min-height:100vh;
	display:flex;
	justify-content:center;
	align-items:center;
	background:#f3f3f3;
}
.gamecontainer{
	background:#ffffff;
	padding:20px 30px;
	border-radius:10px;
	box-shadow:0 0 10px rgba(0,0,0,0.1);
	text-align:center;
	max-width:400px;
	widith:100%;
}
h1{
	margin-bottom:10px;
}
.instructions{
	margin-bottom:20px;
}
.buttons{
	display:flex;
	justify-content:space-between;
	margin-bottom:20px;
}
.buttons button {
  flex: 1;
  margin: 0 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  background: #007bff;
  color: white;
}
.status p,
.score p{
	margin:5px 0;
}
#results{
	font-weight:bold;
	margin-top:10px;
}